html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: normal 10px Verdana, Arial, sans-serif;
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 5px;
}

.header__logo{
    width: 150px;
}

.content{
    display: flex;
    min-height: 500px;
    flex-direction: row;
}

.content__left, .content__right{
    width: 25%;
}

.content__list{
    width: 50%;
}

.pokemon__wrapper{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 20px;
    background-color: aliceblue;
    padding: 5px;
    margin-bottom: 30px;
}

.pokemon__image{
    margin-right: 10px;
}

.pokemon__image img{
    width: 100px;
    border-radius: 50%;
}

.footer{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    padding: 10px;
}

.footer__wrapper{
    margin-right: 20px;
    margin-left: 20px;
}

.footer__title{
    font-size: 14px;
}

.footer__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer__list li{
    font-style: italic;
}
